---
title: "Del Mono Al Ordenador"
seo_title: "Inicio"
seo_description: "Blog sobre Tech, IA, historia, filosofía y cada una de mis nuevas pasiones. Tutoriales sobre IA, buenas prácticas de programación, Hack y trucos. Escribe David Cerezal: Techie y geek."
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/back-intro-green2.png
  actions:
    - label: "Ir al Blog"
      url: "/blog"
excerpt: "Aupa!&nbsp;&nbsp;Soy David,<br/>
Techie, Geek o {IT_passion_new_adjective_in_trend}.<br/>
Sobre Tech, IA, historia y cada una de mis nuevas pasiones."
intro: 
  - excerpt: 'Actualmente, intento adentrarme en el farragoso pero excitante mundo de la Inteligencia Artificial, concretamente en el area de **Deep Learning**. También suelo pasar los días haciendo cosillas para *[Indexa Capital](https://indexacapital.com "Indexa Capital")*. Lo que encuentro en el día a día interesante lo plasmo aquí.'
intro2: 
  - excerpt: 'Por otro lado, mi padre siempre me inculco un gusto por la **historia** y la **filosofía** que aún mantengo. Por eso, entre él y yo escribimos sobre estos temas, sobre nuestro perdido en la España vacía, sobre mis nuevos hobbies...'  
feature_row:
  - image_path: assets/images/post2.png
    alt: "TensorFlow y Docker"
    title: "TensorFlow y Docker"
    excerpt: "Cómo desplegar una máquina en docker para **TensorFlow**. Containerize it!"
    url: "/dokcer-with-tensor-flow-and-keras/"
  - image_path: /assets/images/post3.png
    alt: "Origen. Revolución cognitiva."
    title: "Introducción a Numpy array"
    excerpt: "Python tiene listas, enteros, punto flotante, etc. Para cálculo numérico necesitamos más, allí aparece ... **Numpy**!"
    url: "/Numpy-arrays/"
  - image_path: /assets/images/post4.png
    alt: "Página web con WordPress gratis"
    title: "Crear una página web con WordPress gratis"
    excerpt: "¿Has pensando en alguna vez en crear **tu propia** página bajo un dominio personalizado?"
    url: "/como-crear-maquina-web-con-wordpress-gratis/"
feature_row2:
  - image_path: /assets/images/post1.png
    alt: "Origen. Revolución cognitiva."
    title: "Origen. Revolución cognitiva."
    excerpt: "Siempre me gusta fantasear con la idea de que existió un momento perdido en nuestra humanidad, en el cual existió una chispa que comenzó  nuestro origen como humanos..."
    url: "/inicio/"
    btn_label: "Leer más..."
    btn_class: "btn-border-grey"
feature_row3:
  - image_path: /assets/images/post5.png
    alt: "El origen secreto de las palabras."
    title: "Cea. El origen secreto de las palabras."
    excerpt: "Cea. Origen. A pesar de que los lugares no tengan biografía, algunos tienen más vida que las personas, pero solo unos pocos tienen vida secreta, es el caso de esta villa que encierra innumerables enigmas, sin duda el más importante su nombre. Fue el río el que bautizó a la villa o sucedió lo contrario..."
    url: "El-origen-secreto-de-las-palabras/"
    btn_label: "Leer más..."
    btn_class: "btn-border-grey"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="intro2" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}