.masthead__menu-item {
  font-family:  "Avenir Next LT Pro Regular", Georgia, Times, serif;
  line-height: 21px;
  color: #666;
}

.sidebar .author__content {
   font-family: "Nunito", "Avenir Next LT Pro Regular", Georgia, Times, serif !important;
    line-height: 21px;
  	color: #666;
}

.sidebar p {
   font-family: "Nunito", "Avenir Next LT Pro Regular", Georgia, Times, serif !important;
    line-height: 21px;
  	color: #666;
}

.arvive__item p, .page__content p, li {
	font-family: "Nunito", "Helvetica Neue";
	line-height: 21px;
  	color: #666;
}

.f-ligth {
	font-family: "Nunito-Italic", "Avenir Next LT Pro Italic";
	line-height: 21px;
  	color: #666;
}

.f-extra-ligth {
	font-family: "Nunito-ExtraLightItalic", "Avenir Next LT Pro Ultra Light Condensed";
	line-height: 21px;
    color: #666;
}

@media (min-width: 48em) {
.page__content p, .page__content li {
	font-size: 14px;
}
}

@media (min-width: 64em) {
.page__content p, .page__content li{
	font-size: 16px;
}
}

@media (min-width: 80em) {
.page__content p, .page__content li{
	font-size: 16px;
}

.page__content  .jpytc p, .page__content  .jpytc li{
	font-size: 16px;
}
}

:root {
    --main-color-link:#66BB55;
    --main-color-link-hover:#11A770;
}

.breadcrumbs a:hover {
    color: var(--main-color-link-hover) !important;
}

.breadcrumbs a {
    color: var(--main-color-link) !important;
}

.page-with-out-sidebar {
	width: calc(100% - 150px) !important;
	padding-right: 150px !important;
}

.archive, .feature__wrapper, .grid__wrapper {
	width: calc(100% - 50px) !important;
}

@media only screen and (max-width: 1000px) {
	.page-with-out-sidebar {
		float: right;
		width: calc(100% - 70px) !important;
		padding-right: 70px !important;
		font-size: 0.9em ;
	}

	.archive {
		float: right;
		padding-right: 70px ;
		padding-right: 70px !important;
		width: calc(100% - 70px) !important;
	}
	.page {
		padding-right: 70px !important;
	}
}

@media only screen and (max-width: 600px) {
	.page-with-out-sidebar {
		float: right;
		width: calc(100% - 40px) !important;
		padding-right: 40px !important;
		font-size: 0.8em !important;
	}

	.archive {
		float: right;
		padding-right: 40px !important;
		width: calc(100% - 40px) !important;
	}
	.page{
		padding-right: 20px !important;
	}
}

@media only screen and (max-width: 400px) {
	.page-with-out-sidebar {
		float: right;
		width: calc(100% - 10px) !important;
		padding-right: 10px !important;
	}

	.archive {
		float: right;
		padding-right: 10px !important;
		width: calc(100% - 10px) !important;
	}
	.page{
		padding-right: 10px !important;
	}
}


.layout--single-sidebar .page {
	padding-right: 70px !important;;
	padding-left: 20px !important;
}

.splash .page__content {
	width: 100% !important;
}

.splash .page__content a, .archive__item a {
	color: var(--main-color-link) !important;
}
.splash .page__content a:visited, .archive__item a:visited {
	color: var(--main-color-link) !important;
}
.splash .page__content a:hover, .archive__item a:hover {
	color: var(--main-color-link-hover) !important;
}

.page__content a {
	color: #059bed !important;
}

.page__content a:hover{
	color: #6cc9fc !important;
}

.grid__item a {
	color: var(--main-color-link) !important;
}

.grid__item a:hover {
	color: var(--main-color-link-hover) !important;
}

.pagination--pager {
	color: var(--main-color-link) !important;
}

.pagination--pager:hover {
	color: #FFF !important;
}


.greedy-nav .visible-links a:before {
    background: var(--main-color-link-hover) !important;
}

.post-header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.post-header-sm {
	padding-top: 20px;
	padding-bottom: 20px;
}

.archive__item-body {
	padding-top: 10px;
}

.btn-border-grey {
	text-align: center;
    text-decoration: none;
    color: var(--main-color-link) !important;
    border: 1px solid #b6b6b6 !important;
    border-radius: 4px;
}

.btn-border-grey:hover {
	color: #FFF !important;
}

.author__avatar_none{
	opacity: 0.75;
	max-width: 50px;
	vertical-align: top;
	display: inline-block;
}
.author__content_none{
	padding-top: 5px;
	vertical-align: top;
	display: inline-block;
	width: initial;
}
.author__name_none{
	font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-size: 1em;
	margin:0px;
}

hr {
	border-top: 1px solid #ccc !important;
	margin-top: 35px !important;
}

.input_area div.highlighter-rouge {
  background-color: #f7f7f7  !important;
}

.output_stream, .output_data_text, .output_traceback_line {
  margin-left: 2% !important;
  border: none !important;
  border-radius: 4px !important;
  background-color: #fafafa !important;
  box-shadow: none !important;
}

.output_stream:before, .output_data_text:before, .output_traceback_line:before{
  content: none !important;
}



