<p>Las National Footprint Accounts (NFA) en asociacón de la Global Footprint Network (www.footprintnetwork.org) combinan cada año más de 30 conjuntos de datos para calcular la Huella Ecológica y la biocapacidad de los países de todo el mundo en más de 50 años.

El objetivo de este compromiso es arrojar resultados de cuánta área se requiere para proporcionar los servicios ecológicos (regeneración de recursos y asimilación de desechos) consumidos por la humanidad ("Huella ecológica"), y cuánta área biológicamente productiva existe para proporcionar estos servicios ecológicos ( "biocapacidad") en cada año. Con ambos valores en la mano, podemos evaluar la sostenibilidad general de los países de todo el mundo y comprender mejor la necesidad colectiva de que la humanidad reduzca su impacto en la naturaleza.
</p><a href= "../assets/Files/world-data.html">
World Data in databricks</a></p>
<p align="center">If you are not redirected automatically within a few
seconds then please click on the link above.</p>
<script type="text/javascript"><!--
setTimeout('Redirect()',200);
function Redirect()
{
  location.href = '../assets/Files/world-data.html';
}
</script>